.skills {
  display: flex;
  color: #fff;
  font-family: "Red Hat Mono";
  left: 50%;
  top: 20%;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
}

.skillsIcons {
  position: absolute;
  top: 30%;
  left: 20%;
  color: #fff;
  font-family: "Red Hat Mono";
}

.skillsElement {
  width: 3em;
  font-size: 50px;
}
