.rightHeader {
  display: flex;
  padding: 20px; /* Adjust padding as needed */
  margin-left: auto;
  color: #fff;

  font-family: "Press Start 2P";
  font-size: 8vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.element {
  padding: 15px;
}

@media screen and (max-width: 500px) {
  .rightHeader {
    flex-wrap: wrap;
  }
}
