.hero {
  background-image: url("imgs/arcade.jpg");
  height: 90vh;
  width: 40vw;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-position: center center;
}

.heroDiv {
  width: 100vw;
  height: 90vh;
  display: grid;
  place-items: center;
}

.ArcadeTitle {
  color: white;
  font-family: "Press Start 2P";
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 24%;
  left: 40%;
  width: 15vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}

.aboutMeContainer {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .hero {
    width: 100vw;
  }

  .ArcadeTitle {
    left: 8%;
    width: 80vw;
  }
}
