.hero {
  background-image: url("imgs/arcade.jpg");
  height: 90vh;
  width: 40vw;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center center;
}

.heroDiv {
  width: 100vw;
  height: 90vh;
  display: grid;
  place-items: center;
}
