.hero {
  background-image: url("arcade.jpg");
  height: 90vh;
  width: 80vw;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-position: center center;
}

.typing {
  display: inline-block;
  padding: 10px;
}
