.hobbiesTitle {
  display: flex;
  color: #fff;
  font-family: "Red Hat Mono";
  left: 40%;
  top: 20%;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
}

.element {
  padding: 15px;
  font-size: 50px;
}
