.work {
  color: #fff;
  font-family: "Red Hat Mono";
  left: 10%;
  top: 30%;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
}

.divider {
  background-color: #fff;
  font-family: "Red Hat Mono";
  top: 30%;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 10px;
  height: 90vh;
}

.companyTitle {
  color: #fff;
  font-family: "Red Hat Mono";
  width: 50vw;
  font-size: 30px;
  font-style: normal;
  /* font-weight: 600; */
  line-height: normal;
}

.companyTitleContainer {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.element {
  padding: 15px;
  font-size: 30px;
}

.workDescription {
  margin-top: 50px;
  width: 50vw;
  font-size: 17px;
}

.skillsContainer {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .work {
    font-size: 30px;
    position: static;
  }
  .companyTitle {
    font-size: 6vw;
  }
  .workDescription {
    font-size: 4vw;
  }
}
