.work {
  display: flex;
  color: #fff;
  font-family: "Red Hat Mono";
  left: 20%;
  top: 30%;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
}

.divider {
  display: flex;
  background-color: #fff;
  font-family: "Red Hat Mono";
  top: 30%;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 10px;
  height: 60vh;
  margin: 0 50px;
}

.companyTitle {
  display: flex;
  color: #fff;
  font-family: "Red Hat Mono";
  left: 80%;
  width: 50vw;
  font-size: 30px;
  font-style: normal;
  /* font-weight: 600; */
  line-height: normal;
  position: absolute;
  margin: 0 50px;
}

.companyTitleContainer {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.element {
  padding: 15px;
  font-size: 50px;
}

.description {
  margin-top: 50px;
  width: 50vw;
}

.skillsContainer {
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .work {
    left: 5%;
  }
  .companyTitle {
    width: 30vw;
  }
}
